@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes keyframes1 {
  0% {
    transform: translate(-60%, -40%); }
  50% {
    transform: translate(-50%, -40%); }
  70% {
    transform: translate(-45%, -45%); }
  100% {
    transform: translate(-60%, -40%); } }
@keyframes keyframes2 {
  0% {
    transform: translate(10%, -40%); }
  50% {
    transform: translate(5%, -50%); }
  70% {
    transform: translate(15%, -55%); }
  100% {
    transform: translate(10%, -40%); } }
@keyframes keyframes3 {
  0% {
    transform: translate(70%, -10%); }
  50% {
    transform: translate(60%, -20%); }
  70% {
    transform: translate(30%, -55%); }
  100% {
    transform: translate(70%, -10%); } }
@keyframes spin1 {
  0% {
    transform: rotateZ(0); }
  50% {
    transform: rotateZ(180deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes spin2 {
  0% {
    transform: rotateZ(0); }
  50% {
    transform: rotateZ(-180deg); }
  100% {
    transform: rotateZ(-360deg); } }
@keyframes spin3 {
  0% {
    transform: rotateZ(180deg); }
  50% {
    transform: rotateZ(360deg); }
  100% {
    transform: rotateZ(540deg); } }
@keyframes spin4 {
  0% {
    transform: rotateZ(-180deg); }
  50% {
    transform: rotateZ(-360deg); }
  100% {
    transform: rotateZ(-540deg); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif; }

html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  @media (max-width: 992px) {
    html {
      font-size: 0.9rem; } }
  html ::-webkit-scrollbar {
    width: 10px; }
  html ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  html ::-webkit-scrollbar-thumb {
    background: #043507; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #094b1f; }

body {
  overflow-x: hidden;
  position: relative; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none; }

.title-section {
  text-align: center;
  font-size: 60px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 70px;
  font-family: "Pacifico" !important; }

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 40px;
  width: 50px;
  height: 50px;
  color: #11301B;
  cursor: pointer;
  color: #11301B;
  font-size: 2.5rem;
  font-weight: 900;
  z-index: 99; }
  .back-to-top:hover {
    color: #11301B; }
  .back-to-top .circle {
    border: 1px solid #11301B;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 92% 110% 132% 88%; }
    .back-to-top .circle:nth-child(1) {
      animation: spin1 6s linear infinite; }
    .back-to-top .circle:nth-child(2) {
      animation: spin2 6s linear infinite; }
    .back-to-top .circle:nth-child(3) {
      animation: spin3 6s linear infinite; }
    .back-to-top .circle:nth-child(4) {
      animation: spin4 6s linear infinite; }

.button {
  width: 150px;
  padding: 7px 0;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block; }

.btn-main {
  background: #11301B;
  color: #fff;
  border: #11301B;
  border: 1px solid #11301B;
  transition: all .3s ease; }
  .btn-main:hover {
    background: #fff;
    color: #11301B;
    border: 1px solid #11301B;
    background: transparent; }

.btn-main-secondary {
  background: linear-gradient(to right, #f7cc56, #f0b906);
  color: #fff;
  border-radius: 20px; }
  .btn-main-secondary:hover {
    background: #ff7730;
    color: #fff; }

.btn-main-tertiary {
  background: #55c57a;
  color: #fff;
  border-radius: 20px; }
  .btn-main-tertiary:hover {
    background: #28b485;
    color: #fff; }

.btn-main-outline {
  border: 1px solid #11301B;
  color: #11301B;
  transition: all .3s ease; }
  .btn-main-outline:hover {
    color: #fff;
    background: #11301B; }

.btn-main-outline-secondary {
  border: 1px solid #ff7730;
  color: #ff7730;
  transition: all .3s ease; }
  .btn-main-outline-secondary:hover {
    color: #fff;
    background: #ff7730; }

.btn-main-outline-tertiary {
  border: 1px solid #28b485;
  color: #28b485;
  transition: all .3s ease; }
  .btn-main-outline-tertiary:hover {
    color: #fff;
    background: #28b485; }

.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s ease; }
  .btn-outline-white:hover {
    color: #11301B;
    background: #fff; }

.carousel-list-brand {
  margin: 2em 0; }
  .carousel-list-brand .carousel-brand {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #707070;
    margin: 0; }
    .carousel-list-brand .carousel-brand .slide {
      padding: 1em;
      position: relative; }
      .carousel-list-brand .carousel-brand .slide .carousel-caption {
        top: 30%;
        animation: fly-bottom-top 1s ease-out 0.5s backwards; }
        .carousel-list-brand .carousel-brand .slide .carousel-caption .title {
          font-size: 3rem;
          color: #ff7730;
          font-weight: bold;
          text-shadow: 0 0 1px black;
          text-transform: uppercase; }
        .carousel-list-brand .carousel-brand .slide .carousel-caption .line {
          height: 2px;
          background-color: #ff7730;
          width: 50%;
          margin: auto; }
        .carousel-list-brand .carousel-brand .slide .carousel-caption .text {
          font-size: 1.2rem;
          margin-top: 1em;
          text-shadow: 0 0 1px black; }
      .carousel-list-brand .carousel-brand .slide img {
        height: 50px;
        width: 100%; }
        @media (max-width: 768px) {
          .carousel-list-brand .carousel-brand .slide img {
            height: 50px; } }
    .carousel-list-brand .carousel-brand .slick-prev {
      position: absolute;
      left: 5%;
      z-index: 2;
      opacity: 0.5;
      transition: all ease 0.2s; }
      .carousel-list-brand .carousel-brand .slick-prev::before {
        font-family: "FontAwesome";
        color: #f3bf2e !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a8"; }
    .carousel-list-brand .carousel-brand .slick-next {
      position: absolute;
      transition: all ease 0.2s;
      right: 5%;
      z-index: 2;
      opacity: 0.5; }
      .carousel-list-brand .carousel-brand .slick-next::before {
        font-family: "FontAwesome";
        color: #f3bf2e !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a9"; }
    .carousel-list-brand .carousel-brand:hover .slick-prev,
    .carousel-list-brand .carousel-brand:hover .slick-next {
      opacity: 1; }
    .carousel-list-brand .carousel-brand .slick-dots {
      bottom: 5px; }
      .carousel-list-brand .carousel-brand .slick-dots li button::before {
        font-size: 0.8rem !important; }

.carousel-list-product {
  margin: 2em 0; }
  .carousel-list-product .title-list-product {
    font-size: 1rem;
    position: relative;
    background: #ffb900;
    color: #fff;
    padding: 0.5em 1em;
    padding-right: 2em;
    min-width: 350px;
    text-align: center;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    box-shadow: 0 0 5px #838383; }
  .carousel-list-product .carousel-product-hot {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 5px #707070;
    margin: 0; }
    .carousel-list-product .carousel-product-hot .slide {
      padding: 1em;
      position: relative; }
      .carousel-list-product .carousel-product-hot .slide .product-item {
        margin-top: 1em; }
        .carousel-list-product .carousel-product-hot .slide .product-item .card {
          border: 1px solid #ffb900; }
          .carousel-list-product .carousel-product-hot .slide .product-item .card .img {
            height: 250px;
            overflow: hidden; }
            @media (max-width: 768px) {
              .carousel-list-product .carousel-product-hot .slide .product-item .card .img {
                height: 370px; } }
            .carousel-list-product .carousel-product-hot .slide .product-item .card .img img {
              width: 100%;
              padding: 0 1em; }
          .carousel-list-product .carousel-product-hot .slide .product-item .card .card-body {
            padding: 0.5em 1em;
            text-align: center; }
            .carousel-list-product .carousel-product-hot .slide .product-item .card .card-body .card-title {
              font-size: 1.2rem;
              height: 2.3em;
              margin-bottom: 0;
              color: #000;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden; }
            .carousel-list-product .carousel-product-hot .slide .product-item .card .card-body .card-text {
              color: #f02020;
              margin: 0.3em 0;
              font-size: 1.2rem;
              font-weight: 600; }
    .carousel-list-product .carousel-product-hot .slick-prev {
      position: absolute;
      left: 5%;
      z-index: 2;
      opacity: 0.5;
      transition: all ease 0.2s; }
      .carousel-list-product .carousel-product-hot .slick-prev::before {
        font-family: "FontAwesome";
        color: #f3bf2e !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a8"; }
    .carousel-list-product .carousel-product-hot .slick-next {
      position: absolute;
      transition: all ease 0.2s;
      right: 5%;
      z-index: 2;
      opacity: 0.5; }
      .carousel-list-product .carousel-product-hot .slick-next::before {
        font-family: "FontAwesome";
        color: #f3bf2e !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a9"; }
    .carousel-list-product .carousel-product-hot:hover .slick-prev,
    .carousel-list-product .carousel-product-hot:hover .slick-next {
      opacity: 1; }
    .carousel-list-product .carousel-product-hot .slick-dots {
      bottom: 5px; }
      .carousel-list-product .carousel-product-hot .slick-dots li button::before {
        font-size: 0.8rem !important; }

header {
  background: none !important;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 5px 0;
  /* ------------- navbar-mobile --------------------*/ }
  @media (max-width: 1200px) {
    header {
      position: relative; } }
  header .navbar {
    padding-left: 0;
    padding-right: 0;
    position: relative; }
    header .navbar .logo {
      height: 70px; }
    header .navbar .nav-item {
      position: relative; }
      header .navbar .nav-item .nav-link {
        font-size: 1rem;
        font-weight: 500;
        color: #fff !important;
        text-transform: uppercase; }
        header .navbar .nav-item .nav-link:hover {
          color: #86be4c !important; }
        header .navbar .nav-item .nav-link.active {
          color: #86be4c !important; }
      header .navbar .nav-item .sub-menu {
        position: absolute;
        background: black;
        border: 1px solid black;
        border-radius: 5px;
        overflow: hidden;
        width: 220px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(100px);
        transition: all ease 0.5s;
        right: 0; }
        header .navbar .nav-item .sub-menu .list .item .link {
          display: block;
          padding: 0.5em 1em;
          text-align: left;
          color: #fff;
          font-weight: 500; }
          header .navbar .nav-item .sub-menu .list .item .link:hover {
            color: #86be4c; }
        header .navbar .nav-item .sub-menu .list .item:last-child {
          border: none; }
      header .navbar .nav-item:hover .sub-menu {
        visibility: inherit;
        opacity: 1;
        transform: translateY(0); }
  header.scroll {
    background: #000 !important;
    animation: moveInTop 0.3s ease-out; }
    header.scroll .navbar .nav-item .nav-link {
      color: #fff !important; }
      header.scroll .navbar .nav-item .nav-link:hover {
        color: #86be4c !important; }
  header .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #414040;
    opacity: 0.7;
    display: none;
    margin: 0; }
  header .navbar-input {
    display: none; }
  header .navbar-input:checked ~ .overlay {
    display: block; }
  header .navbar-input:checked ~ .navbar-toggler-mobile {
    transform: translateX(0);
    opacity: 1; }
  header .navbar-toggler-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    background-color: #f8f8f8;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.3s; }
    header .navbar-toggler-mobile .container-logo {
      display: flex;
      justify-content: space-between;
      margin: 1em; }
      header .navbar-toggler-mobile .container-logo .close {
        cursor: pointer; }
        header .navbar-toggler-mobile .container-logo .close i:hover {
          color: #bbbb1a; }
    header .navbar-toggler-mobile ul {
      margin-top: 200px; }
      header .navbar-toggler-mobile ul li {
        list-style: none;
        color: black;
        border-top: 1px solid #bdbdbd; }
        header .navbar-toggler-mobile ul li a {
          display: block;
          color: #ffb900; }
          header .navbar-toggler-mobile ul li a:hover {
            color: #ff7730; }
  @media (max-width: 1200px) {
    header .navbar-toggler {
      cursor: pointer;
      display: block !important;
      color: white !important; }
    header .navbar #collapsibleNavId {
      display: none !important; } }

.banner-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 110vh; }
  .banner-top .slide {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000;
    z-index: 1;
    position: relative;
    height: 100%; }
    .banner-top .slide .background {
      width: 100%;
      height: 110vh;
      background-image: url(/img/background7.jpg);
      width: 100%;
      position: relative;
      left: 0px;
      top: 0px;
      z-index: 10;
      opacity: 1;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    .banner-top .slide .caption {
      position: absolute;
      width: 100%;
      padding-top: 18em;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 11; }
      .banner-top .slide .caption .title {
        font-size: 3.8rem;
        line-height: 60px;
        color: #ffffff;
        margin-bottom: 50px;
        letter-spacing: 5px;
        font-family: "Pacifico", cursive !important;
        text-align: center; }
        @media (max-width: 768px) {
          .banner-top .slide .caption .title {
            font-size: 2.8rem; } }
      .banner-top .slide .caption .text {
        color: #ffffff;
        margin-bottom: 50px;
        font-size: 22px;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center; }
        @media (max-width: 768px) {
          .banner-top .slide .caption .text {
            font-size: 1.1rem;
            letter-spacing: 2px; } }
      .banner-top .slide .caption .container-btn {
        text-align: center; }
        .banner-top .slide .caption .container-btn .button {
          margin: 5px; }
  .banner-top .carousel-banner .slick-prev {
    position: absolute;
    left: 5%;
    z-index: 2;
    opacity: 0;
    transition: all ease 0.2s; }
    .banner-top .carousel-banner .slick-prev::before {
      font-family: "FontAwesome";
      color: #ff7730 !important;
      font-size: 2rem;
      font-weight: 900;
      content: "\f0a8"; }
  .banner-top .carousel-banner .slick-next {
    position: absolute;
    transition: all ease 0.2s;
    right: 5%;
    z-index: 2;
    opacity: 0; }
    .banner-top .carousel-banner .slick-next::before {
      font-family: "FontAwesome";
      color: #ff7730 !important;
      font-size: 2rem;
      font-weight: 900;
      content: "\f0a9"; }
  .banner-top .carousel-banner:hover .slick-prev,
  .banner-top .carousel-banner:hover .slick-next {
    opacity: 1; }
  .banner-top .carousel-banner .slick-dots {
    bottom: 5px; }
    .banner-top .carousel-banner .slick-dots li button::before {
      font-size: 0.8rem !important; }

.over-banner-top {
  height: 110vh; }

footer {
  margin-top: 150px;
  background-color: #555555;
  padding-top: 110px;
  background-image: url(/img/ft_bg_img.webp);
  background-size: cover;
  position: relative; }
  footer .contact-form {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #11301B;
    padding: 40px; }
    footer .contact-form .title {
      margin-top: 1em; }
    footer .contact-form .text {
      color: rgba(255, 255, 255, 0.6); }
    footer .contact-form input {
      margin-bottom: 0.5em;
      background: none;
      border: none;
      border-bottom: 1px solid #f3f3f3;
      border-radius: 0; }
      footer .contact-form input:focus {
        background: none;
        color: white; }
  footer .container-media {
    padding: 1em;
    margin-bottom: 1em; }
    footer .container-media a {
      color: white;
      font-size: 1.5rem;
      margin: 0.5em;
      cursor: pointer;
      transition: all 0.3s ease; }
      footer .container-media a.facebook:hover {
        color: #3131b4; }
      footer .container-media a.youtube:hover {
        color: #c52c06; }
  footer .info-ft {
    background: #000;
    margin: 0;
    padding: 1em;
    font-size: 1rem;
    color: #969c9e; }
  footer .title {
    color: #fff; }
  footer .footer-contact input {
    font-size: 0.8rem;
    padding: 1em; }

footer {
  display: inline-block; }

footer ul {
  list-style: none; }

footer ul h6 {
  color: white;
  font-size: 1.4rem; }

footer p {
  color: white;
  font-size: 16px; }

footer .footer-contact li {
  display: inline; }

footer .footer-contact img {
  margin: 10px;
  width: 50px;
  border-radius: 10px; }

footer hr {
  border: 1px solid white; }

.nav-top {
  position: relative;
  font-size: 0.9rem;
  padding: 5px 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media (max-width: 768px) {
    .nav-top {
      display: none; } }
  .nav-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav-top .container .nav-list {
      margin: 0;
      display: inline-block; }
      .nav-top .container .nav-list .nav-item {
        display: inline; }
        .nav-top .container .nav-list .nav-item .nav-link {
          color: #fff;
          display: inline-block;
          padding-left: 0;
          transition: all .3s ease; }
          .nav-top .container .nav-list .nav-item .nav-link:hover {
            color: #86be4c; }
    .nav-top .container .sign-in-nav,
    .nav-top .container .sign-up-nav,
    .nav-top .container .cart-nav {
      color: #fff;
      padding: 0.3em 0.5em;
      display: inline-block;
      margin-right: 0.5em;
      transition: all .3s ease; }
      .nav-top .container .sign-in-nav.cart-nav,
      .nav-top .container .sign-up-nav.cart-nav,
      .nav-top .container .cart-nav.cart-nav {
        border-left: 1px solid white;
        position: relative;
        font-size: 1rem; }
        .nav-top .container .sign-in-nav.cart-nav span,
        .nav-top .container .sign-up-nav.cart-nav span,
        .nav-top .container .cart-nav.cart-nav span {
          position: absolute;
          background: #86be4c;
          color: white;
          padding: 1px 3px;
          border-radius: 50%;
          top: 0;
          left: 50%; }
      .nav-top .container .sign-in-nav:hover,
      .nav-top .container .sign-up-nav:hover,
      .nav-top .container .cart-nav:hover {
        color: #86be4c; }

.home {
  margin-top: -5em; }
  .home .story-us .content .list {
    display: flex;
    justify-content: space-around; }
  .home .story-us .content .card {
    border: none;
    margin-bottom: 2em;
    padding: 0; }
    .home .story-us .content .card .img-top img {
      max-width: 100%; }
    .home .story-us .content .card .card-body {
      padding: 1em 0; }
      .home .story-us .content .card .card-body .card-title {
        color: black;
        font-weight: 600;
        font-size: 1.3rem; }
  .home .story-us .content .img-center {
    text-align: center; }
    .home .story-us .content .img-center img {
      max-width: 100%; }
  .home .testimonier {
    margin: 5em 0; }
    .home .testimonier .slide {
      padding-left: 1em; }
      .home .testimonier .slide .card {
        border: none;
        background: #fbfbfb;
        transition: all 0.3s ease;
        margin-bottom: 1em; }
        .home .testimonier .slide .card:hover {
          background-color: white;
          box-shadow: 0 0 10px #dddddd; }
        .home .testimonier .slide .card .social-networK a {
          display: inline-block;
          color: #333333;
          padding: 0px 10px;
          font-size: 1.1rem; }
        .home .testimonier .slide .card .container-btn {
          margin: 1em 0; }
    .home .testimonier .carousel-testimonier {
      position: relative; }
      .home .testimonier .carousel-testimonier .slick-prev {
        position: absolute;
        left: 45%;
        transform: translateY(340px);
        z-index: 2;
        transition: all ease 0.2s; }
        .home .testimonier .carousel-testimonier .slick-prev::before {
          font-family: "FontAwesome";
          color: #093818 !important;
          font-size: 2rem;
          font-weight: 900;
          content: "\f0a8"; }
      .home .testimonier .carousel-testimonier .slick-next {
        position: absolute;
        transition: all ease 0.2s;
        transform: translateY(340px);
        right: 45%;
        z-index: 2; }
        .home .testimonier .carousel-testimonier .slick-next::before {
          font-family: "FontAwesome";
          color: #093818 !important;
          font-size: 2rem;
          font-weight: 900;
          content: "\f0a9"; }
      .home .testimonier .carousel-testimonier:hover .slick-prev,
      .home .testimonier .carousel-testimonier:hover .slick-next {
        opacity: 1; }
      .home .testimonier .carousel-testimonier .slick-dots {
        bottom: 5px; }
        .home .testimonier .carousel-testimonier .slick-dots li button::before {
          font-size: 0.8rem !important; }
  .home .special-products {
    padding-top: 50px;
    background: #fbfbfb; }
    .home .special-products .carousel-special-products .slide .special-item .img img {
      max-width: 100%; }
    .home .special-products .carousel-special-products .slide .special-item .info .title {
      font-size: 30px;
      color: black;
      margin-bottom: 15px;
      display: block;
      line-height: 1.5; }
    .home .special-products .carousel-special-products .slide .special-item .info .product-price {
      margin-bottom: 1em; }
      .home .special-products .carousel-special-products .slide .special-item .info .product-price .current-price {
        color: #11301b;
        font-size: 1.3rem; }
      .home .special-products .carousel-special-products .slide .special-item .info .product-price .original-price {
        color: gray;
        font-size: 0.9rem;
        margin-left: 10px; }
    .home .special-products .carousel-special-products .slide .special-item .info .product-meta,
    .home .special-products .carousel-special-products .slide .special-item .info .product-desc {
      color: #333333; }
    .home .special-products .carousel-special-products .slide .special-item .info .product-action {
      margin-top: 1em; }
  .home .products {
    margin-top: 2em; }
    .home .products .content .tab-menu ul {
      margin: 0 auto;
      padding: 0;
      max-width: 800px;
      border-bottom: 1px solid #ededed;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .home .products .content .tab-menu ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0 0.5em; }
      .home .products .content .tab-menu ul li a {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: #11301b;
        position: relative;
        padding: 5px 15px;
        outline: none;
        margin: 0px 10px;
        width: 100%;
        font-weight: 600;
        cursor: pointer;
        border: none;
        transition: 800ms ease all; }
        .home .products .content .tab-menu ul li a:hover {
          background: #fff;
          color: #11355c; }
        .home .products .content .tab-menu ul li a:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 3px;
          width: 0;
          background: #11301B;
          transition: 400ms ease all; }
        .home .products .content .tab-menu ul li a:after {
          right: inherit;
          top: inherit;
          left: 0;
          bottom: 0; }
        .home .products .content .tab-menu ul li a:hover:after {
          width: 100%;
          transition: 400ms ease all; }
      .home .products .content .tab-menu ul li a.active-a:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 3px;
        width: 100%;
        background: #11301B;
        transition: 400ms ease all; }
      .home .products .content .tab-menu ul li a.active-a:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0; }
    .home .products .content .tab {
      display: none; }
    .home .products .content .tab h2 {
      color: rgba(0, 0, 0, 0.7); }
    .home .products .content .tab p {
      color: rgba(0, 0, 0, 0.6);
      text-align: justify; }
    .home .products .content .tab-active {
      display: block; }
    .home .products .content .container-content {
      padding: 1em; }
      .home .products .content .container-content .product-list .product-item {
        position: relative;
        padding: 0;
        transition: all 0.5s ease;
        position: relative;
        border: 1px solid #ededed;
        overflow: hidden;
        margin-bottom: 30px;
        transition: all 0.3s ease; }
        .home .products .content .container-content .product-list .product-item .product-img {
          position: relative; }
          .home .products .content .container-content .product-list .product-item .product-img img {
            width: 100%; }
          .home .products .content .container-content .product-list .product-item .product-img .rate-star {
            position: absolute;
            bottom: 5px;
            left: 5px;
            font-size: 0.9rem; }
            .home .products .content .container-content .product-list .product-item .product-img .rate-star .checked {
              color: orange; }
          .home .products .content .container-content .product-list .product-item .product-img .product-tags {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1; }
            .home .products .content .container-content .product-list .product-item .product-img .product-tags span {
              background: #11301b;
              display: inline-block;
              height: 40px;
              width: 40px;
              line-height: 40px;
              border-radius: 50%;
              color: #fff;
              margin-left: 3px; }
        .home .products .content .container-content .product-list .product-item .product-info {
          text-align: center;
          background: #fafafa;
          padding: 10px;
          transform: translateY(50px);
          transition: all 0.3s ease; }
          .home .products .content .container-content .product-list .product-item .product-info .product-title a {
            color: black;
            text-transform: uppercase;
            font-size: 1.3rem;
            line-height: 1.3;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical; }
          .home .products .content .container-content .product-list .product-item .product-info .product-price {
            text-align: center;
            margin: 0.5em 0; }
            .home .products .content .container-content .product-list .product-item .product-info .product-price .current-price {
              font-size: 1.1rem;
              font-weight: bold;
              margin: 5px 0px 10px; }
            .home .products .content .container-content .product-list .product-item .product-info .product-price .original-price {
              font-size: 0.9rem;
              padding-left: 5px;
              margin: 5px 0px 10px;
              font-weight: 600;
              color: #999999; }
          .home .products .content .container-content .product-list .product-item .product-info .product-actions .btn-cart,
          .home .products .content .container-content .product-list .product-item .product-info .product-actions .btn-search {
            display: inline-block;
            height: 35px;
            margin: 0px 5px;
            color: rgba(255, 255, 255, 0.3);
            border: 1px solid;
            line-height: 35px;
            width: 35px;
            border-radius: 50%;
            background-color: transparent;
            transition: all 0.3s ease; }
            .home .products .content .container-content .product-list .product-item .product-info .product-actions .btn-cart:hover,
            .home .products .content .container-content .product-list .product-item .product-info .product-actions .btn-search:hover {
              color: white;
              border-color: white; }
          .home .products .content .container-content .product-list .product-item .product-info .product-actions .btn-buy {
            border-radius: 20px;
            padding: 0px 10px;
            display: inline-block;
            height: 35px;
            margin: 0px 5px;
            color: rgba(255, 255, 255, 0.3);
            border: 1px solid;
            line-height: 35px;
            background-color: transparent; }
            .home .products .content .container-content .product-list .product-item .product-info .product-actions .btn-buy:hover {
              color: white;
              border-color: white; }
        .home .products .content .container-content .product-list .product-item:hover {
          transform: translateY(-5px); }
          .home .products .content .container-content .product-list .product-item:hover .product-info {
            background: #11301B;
            transform: translateY(0); }
            .home .products .content .container-content .product-list .product-item:hover .product-info .product-price {
              color: white; }
  .home .news-section {
    padding: 2em; }
    .home .news-section .new-list .new-item {
      display: flex;
      background: #fbfbfb;
      margin-bottom: 30px;
      transition: all 0.5s ease; }
      .home .news-section .new-list .new-item .content {
        width: 70%;
        padding: 15px 30px; }
        .home .news-section .new-list .new-item .content .title {
          font-size: 1.3rem;
          color: black;
          line-height: 1.3;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: 0;
          cursor: pointer; }
        .home .news-section .new-list .new-item .content .text {
          color: #4d4d4d;
          line-height: 1.5;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin: 0; }
        .home .news-section .new-list .new-item .content .see-more {
          display: block;
          margin: 10px 0px;
          color: #333333; }
      .home .news-section .new-list .new-item .img {
        width: 185px;
        height: 185px;
        overflow: hidden; }
        .home .news-section .new-list .new-item .img img {
          width: 100%; }
      .home .news-section .new-list .new-item:hover {
        box-shadow: 0 0 10px #cccccc; }
    .home .news-section .video {
      margin-top: 0.5em; }
      .home .news-section .video .video-title {
        width: 100%;
        height: 300px; }
      .home .news-section .video .video-list {
        margin-top: 1em; }
        .home .news-section .video .video-list .video-item {
          margin-top: 0.5em;
          color: #777777;
          font-size: 1rem;
          color: #666666;
          line-height: 1.5;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
          .home .news-section .video .video-list .video-item i {
            font-size: 1.5rem;
            color: #55c57a; }
    .home .news-section .container-button {
      padding-top: 1em;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
