header {
  background: none !important;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 5px 0;
  @media (max-width: 1200px) {
    position: relative;
  }
  .cart-mobile {
    display: none;
    color: #ffffff;
    position: absolute;
    font-size: 2rem;
    right: 100px;
    &:hover{
      color: #ffffff;
    }
    span {
      position: absolute;
      background: $color-primary-light;
      color: white;
      padding: 1px 3px;
      border-radius: 50%;
      top: 0;
      left: 50%;
      font-size: 1rem;
    }
    @media (max-width: 1200px) {
      display: block;
    }
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .logo {
      height: 70px;
    }
    .nav-item {
      position: relative;
      .nav-link {
        font-size: 1rem;
        font-weight: 500;
        color: $color-white !important;
        text-transform: uppercase;
        &:hover {
          color: $color-primary-light !important;
        }
        &.active {
          color: $color-primary-light !important;
        }
      }
      .sub-menu {
        position: absolute;
        background: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        overflow: hidden;
        width: 220px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(100px);
        transition: all ease 0.5s;
        right: 0;
        z-index: 100;
        .list {
          .item {
            .link {
              display: block;
              padding: 0.5em 1em;
              text-align: left;
              color: $color-white;
              font-weight: 500;
              &:hover {
                color: $color-primary-light;
              }
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
      &:hover {
        .sub-menu {
          visibility: inherit;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .search {
      position: relative;
      .content {
        width: 400px;
        transform: translateX(120px);
        position: absolute;
        right: 0;
        display: none;
        .search-container {
          margin-bottom: 1em;
          float: left;
          animation: moveInBottom 0.3s ease-out;
          input[type="text"] {
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
            padding: 6px;
            padding-left: 1em;
            font-size: 1rem;
            border: none;
            width: 250px;
            @media (max-width: 1200px) {
              width: 200px;
            }
          }

          button {
            float: right;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            padding: 6px 10px;
            margin-right: 16px;
            background: rgb(219, 219, 219);
            font-size: 1rem;
            border: none;
            color: $color-primary-dark;
            cursor: pointer;
          }

          button:hover {
            background: rgb(155, 155, 155);
          }
        }
      }
    }
  }

  &.search_ac {
    .navbar {
      .search {
        .content {
          .search-container {
            display: block;
          }
        }
      }
    }
  }

  &.scroll {
    background: $color-black !important;
    animation: moveInTop 0.3s ease-out;
    .navbar {
      .nav-item {
        .nav-link {
          color: $color-white !important;
          &:hover {
            color: $color-primary-light !important;
          }
          .over-lay {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(65, 64, 64);
    opacity: 0.7;
    display: none;
    margin: 0;
  }

  .navbar-input {
    display: none;
  }
  .navbar-input:checked ~ .overlay {
    display: block;
  }

  .navbar-input:checked ~ .navbar-toggler-mobile {
    transform: translateX(0);
    opacity: 1;
  }

  /* ------------- navbar-mobile --------------------*/

  .navbar-toggler-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    background-color: rgba(248, 248, 248, 0.1);
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.3s;
    border-left: 1px solid rgb(255, 255, 255);
    .container-logo {
      display: flex;
      justify-content: space-between;
      margin: 1em;
      .close {
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 1rem;
        text-shadow: none;
        &:hover {
          color: rgb(9, 56, 3);
        }
      }
    }

    .nav-list {
      margin-top: 200px;
      .nav-item {
        list-style: none;
        color: black;
        border-top: 1px solid rgb(189, 189, 189);
        .nav-link {
          display: block;
          &:hover {
            color: $color-primary-light;
          }
        }
      }
    }

    .search-container {
      display: block;
      margin-bottom: 1em;
      float: left;
      input[type="text"] {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        padding: 6px;
        padding-left: 1em;
        font-size: 1rem;
        border: none;
        width: 250px;
        @media (max-width: 1200px) {
          width: 200px;
        }
      }

      button {
        float: right;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        padding: 6px 10px;
        margin-right: 16px;
        background: rgb(219, 219, 219);
        font-size: 1rem;
        border: none;
        color: $color-primary-dark;
        cursor: pointer;
      }

      button:hover {
        background: rgb(155, 155, 155);
      }
    }
  }

  @media (max-width: 1200px) {
    .navbar-toggler {
      cursor: pointer;
      display: block !important;
      color: white !important;
      font-size: 3rem !important;
    }

    .navbar #collapsibleNavId {
      display: none !important;
    }
  }
}

.banner-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 110vh;

  .slide {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000;
    z-index: 1;
    position: relative;
    height: 100%;
    .background {
      width: 100%;
      height: 110vh;
      background-image: url(/img/background7.jpg);
      width: 100%;
      position: relative;
      left: 0px;
      top: 0px;
      z-index: 10;
      opacity: 1;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .caption {
      position: absolute;
      width: 100%;
      padding-top: 18em;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 11;
      animation: moveInTopCaption 2s ease-out;
      .title {
        font-size: 3.8rem;
        line-height: 60px;
        color: #ffffff;
        margin-bottom: 50px;
        letter-spacing: 5px;
        font-family: "Pacifico", cursive !important;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 2.8rem;
        }
      }
      .text {
        color: #ffffff;
        margin-bottom: 50px;
        font-size: 22px;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 1.1rem;
          letter-spacing: 2px;
        }
      }
      .container-btn {
        text-align: center;
        .button {
          margin: 5px;
          &.btn-right {
            animation: moveInRight 1s ease-out 1s;
          }
          &.btn-left {
            animation: moveInLeft 1s ease-out 1s;
          }
        }
      }
    }

    @media (max-width: 1200px) {
    }
    @media (max-width: 992px) {
    }
    @media (max-width: 767px) {
    }
  }
  .carousel-banner {
    .slick-prev {
      position: absolute;
      left: 5%;
      z-index: 2;
      opacity: 0;
      transition: all ease 0.2s;
      &::before {
        font-family: "FontAwesome";
        color: $color-secondary-dark !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a8";
      }
    }
    .slick-next {
      position: absolute;
      transition: all ease 0.2s;
      right: 5%;
      z-index: 2;
      opacity: 0;
      &::before {
        font-family: "FontAwesome";
        color: $color-secondary-dark !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a9";
      }
    }
    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 1;
      }
    }
    .slick-dots {
      bottom: 5px;
      li {
        button {
          &::before {
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}

.over-banner-top {
  height: 110vh;
}
