.home {
  margin-top: -5em;
  .story-us {
    .content {
      .list {
        display: flex;
        justify-content: space-around;
      }
      .card {
        border: none;
        margin-bottom: 2em;
        padding: 0;
        .img-top {
          img {
            max-width: 100%;
          }
        }
        .card-body {
          padding: 1em 0;
          .card-title {
            color: black;
            font-weight: 600;
            font-size: 1.3rem;
          }
        }
      }
      .img-center {
        text-align: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
  .testimonier {
    margin: 5em 0;
    .slide {
      padding-left: 1em;
      .card {
        border: none;
        background: #fbfbfb;
        transition: all 0.3s ease;
        margin-bottom: 1em;
        &:hover {
          background-color: white;
          box-shadow: 0 0 10px rgb(221, 221, 221);
        }
        .card-body {
        }
        .social-networK {
          a {
            display: inline-block;
            color: #333333;
            padding: 0px 10px;
            font-size: 1.1rem;
          }
        }
        .container-btn {
          margin: 1em 0;
        }
      }
    }
    .carousel-testimonier {
      position: relative;
      .slick-prev {
        position: absolute;
        left: 45%;
        transform: translateY(350px);
        z-index: 2;
        transition: all ease 0.2s;
        &::before {
          font-family: "FontAwesome";
          color: $color-primary-dark !important;
          font-size: 2rem;
          font-weight: 900;
          content: "\f0a8";
        }
      }
      .slick-next {
        position: absolute;
        transition: all ease 0.2s;
        transform: translateY(350px);
        right: 45%;
        z-index: 2;
        &::before {
          font-family: "FontAwesome";
          color: $color-primary-dark !important;
          font-size: 2rem;
          font-weight: 900;
          content: "\f0a9";
        }
      }
      &:hover {
        .slick-prev,
        .slick-next {
          opacity: 1;
        }
      }
      .slick-dots {
        bottom: 5px;
        li {
          button {
            &::before {
              font-size: 0.8rem !important;
            }
          }
        }
      }
      @media (max-width: 500px) {
        .slick-prev {
          left: 40%;
          transform: translateY(340px);
        }
        .slick-next {
          right: 40%;
          transform: translateY(340px);
        }
      }
    }
  }
  .special-products {
    padding-top: 50px;
    background: #fbfbfb;
    .carousel-special-products {
      .slide {
        .special-item {
          .img {
            img {
              max-width: 100%;
            }
          }
          .info {
            .title {
              font-size: 30px;
              color: black;
              margin-bottom: 15px;
              display: block;
              line-height: 1.5;
            }
            .product-price {
              margin-bottom: 1em;
              .current-price {
                color: #11301b;
                font-size: 1.3rem;
              }
              .original-price {
                color: gray;
                font-size: 0.9rem;
                margin-left: 10px;
              }
            }
            .product-meta,
            .product-desc {
              color: #333333;
            }
            .product-action {
              margin-top: 1em;
            }
          }
        }
      }
    }
  }
  .products {
    margin-top: 2em;
    .content {
      .tab-menu ul {
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
        border-bottom: 1px solid #ededed;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          list-style-type: none;
          display: inline-block;
          padding: 0 0.5em;
        }
        li a {
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          color: #11301b;
          position: relative;
          padding: 5px 15px;
          outline: none;
          margin: 0px 10px;
          width: 100%;
          font-weight: 600;
          cursor: pointer;
          border: none;
          transition: 800ms ease all;
          &:hover {
            background: #fff;
            color: #11355c;
          }

          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 3px;
            width: 0;
            background: $color-primary;
            transition: 400ms ease all;
          }
          &:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
          }
          &:hover:after {
            width: 100%;
            transition: 400ms ease all;
          }
        }
        li a.active-a {
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 3px;
            width: 100%;
            background: $color-primary;
            transition: 400ms ease all;
          }
          &:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
          }
        }
      }
      .tab {
        display: none;
      }
      .tab h2 {
        color: rgba(0, 0, 0, 0.7);
      }
      .tab p {
        color: rgba(0, 0, 0, 0.6);
        text-align: justify;
      }
      .tab-active {
        display: block;
      }
      .container-content {
        padding: 1em;
        .product-list {
          .product-item {
            position: relative;
            padding: 0;
            transition: all 0.5s ease;
            position: relative;
            border: 1px solid #ededed;
            overflow: hidden;
            margin-bottom: 30px;
            transition: all 0.3s ease;
            .product-img {
              position: relative;
              img {
                width: 100%;
              }
              .rate-star {
                position: absolute;
                bottom: 5px;
                left: 5px;
                font-size: 0.9rem;
                .checked {
                  color: orange;
                }
              }
              .product-tags {
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 1;
                span {
                  background: #11301b;
                  display: inline-block;
                  height: 40px;
                  width: 40px;
                  line-height: 40px;
                  border-radius: 50%;
                  color: #fff;
                  margin-left: 3px;
                }
              }
            }
            .product-info {
              text-align: center;
              background: #fafafa;
              padding: 10px;
              transform: translateY(50px);
              transition: all 0.3s ease;

              .product-title {
                a {
                  color: black;
                  text-transform: uppercase;
                  font-size: 1.3rem;
                  line-height: 1.3;
                  white-space: normal;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                }
              }
              .product-price {
                text-align: center;
                margin: 0.5em 0;
                .current-price {
                  font-size: 1.1rem;
                  font-weight: bold;
                  margin: 5px 0px 10px;
                }
                .original-price {
                  font-size: 0.9rem;
                  padding-left: 5px;
                  margin: 5px 0px 10px;
                  font-weight: 600;
                  color: #999999;
                }
              }
              .product-actions {
                .btn-cart,
                .btn-search {
                  display: inline-block;
                  height: 35px;
                  margin: 0px 5px;
                  color: rgba(255, 255, 255, 0.3);
                  border: 1px solid;
                  line-height: 35px;
                  width: 35px;
                  border-radius: 50%;
                  background-color: transparent;
                  transition: all 0.3s ease;
                  &:hover {
                    color: white;
                    border-color: white;
                  }
                }
                .btn-buy {
                  border-radius: 20px;
                  padding: 0px 10px;
                  display: inline-block;
                  height: 35px;
                  margin: 0px 5px;
                  color: rgba(255, 255, 255, 0.3);
                  border: 1px solid;
                  line-height: 35px;
                  background-color: transparent;
                  &:hover {
                    color: white;
                    border-color: white;
                  }
                }
              }
            }
            &:hover {
              transform: translateY(-5px);
              .product-info {
                background: $color-primary;
                transform: translateY(0);
                .product-price {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .news-section {
    padding: 2em;
    .new-list {
      .new-item {
        display: flex;
        background: #fbfbfb;
        margin-bottom: 30px;
        transition: all 0.5s ease;
        .content {
          width: 70%;
          padding: 15px 30px;
          .title {
            font-size: 1.3rem;
            color: black;
            line-height: 1.3;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
            cursor: pointer;
          }
          .text {
            color: #4d4d4d;
            line-height: 1.5;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin: 0;
          }
          .see-more {
            display: block;
            margin: 10px 0px;
            color: #333333;
          }
        }
        .img {
          width: 185px;
          height: 185px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        &:hover {
          box-shadow: 0 0 10px rgb(204, 204, 204);
        }
      }
    }
    .video {
      margin-top: 0.5em;
      iframe{
        width: 100%;
        max-width: 555px;
        @media (max-width:768px) {
          height: 200px;
        }
      }
    }
    .container-button {
      padding-top: 1em;
      text-align: center;
    }
  }
  .carousel-gallery {
    .slide {
      padding: 1em;
      a {
        &:hover {
          img {
            transform: scale(1.1);
            filter: brightness(0.5);
          }
        }
        .img {
          width: 100%;
          height: 300px;
          overflow: hidden;
          img {
            width: 100%;
            transition: all 0.5s ease;
          }
        }
      }
    }
    .slick-prev {
      position: absolute;
      left: -2%;
      z-index: 2;
      transition: all ease 0.2s;
      &::before {
        font-family: "FontAwesome";
        color: $color-primary-dark !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a8";
      }
    }
    .slick-next {
      position: absolute;
      transition: all ease 0.2s;
      right: -2%;
      z-index: 2;
      &::before {
        font-family: "FontAwesome";
        color: $color-primary-dark !important;
        font-size: 2rem;
        font-weight: 900;
        content: "\f0a9";
      }
    }
    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 1;
      }
    }
    .slick-dots {
      bottom: 5px;
      li {
        button {
          &::before {
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}
